# Stores secret API keys for LLM providers. Not committed to Git.
# Example: OPENAI_API_KEY="your-key-here"

# For Groq LLM (ChatGroq)
# Obtain from https://console.groq.com/keys
#GROQ_API_KEY="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"
GROQ_API_KEY="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"
# GEMINI_API_KEY="AIzaSyA9nSsAtBZRwfGQxSmlkg2a9v1XJAUf4rc"


GEMINI_API_KEY="AIzaSyDgTyuSH8Hd4fO4dYcWjIzhgFYe_lqq648"